
@import '../node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;



body {
    background-color:yellow;
}

h1 {
    color: blue;
}

button {
    background-color: white;
    padding: 1%;
    color: blue;
}